main {
    min-height: 40vw;
}

body {
    font-family: "Poppins", serif;
    font-weight: 100;
    font-style: normal;
}

.navbar .img-fluid {
    height: 1.8em; /* A betűméret alapú méretezés */
    width: auto;
    margin-right: 1em;
}


/* .navbar-nav .nav-link.active {
    color: var(--bs-success) !important; /* Bootstrap "success" zöld szín
    font-weight: bold;
} */

.navbar-nav .nav-link.active {
    background-color: var(--bs-success) !important; /* Bootstrap "success" zöld */
    border-radius: 5px;
    color: white !important;
    font-weight: bold;
}

.navbar-nav .dropdown-item.active {
    background-color: var(--bs-success) !important; /* Bootstrap "success" zöld */
    color: white !important;
    font-weight: bold;
}

/* Hover állapotban a szín */
.navbar-nav .dropdown-item:hover {
    font-weight: bold; /* Fehér szöveg */
}

/* Active állapotban (amikor lenyomva van az egér) */
.navbar-nav .dropdown-item:active {
    background-color: var(--bs-success); /* Sötétebb zöld */
}

#themeToggle {
    z-index: 1050; /* Bootstrap modal (1050) feletti érték */
}

.bg-theme {
    background-color: var(--bs-light);
    color: var(--bs-dark);
}

[data-bs-theme="dark"] .bg-theme {
    background-color: var(--bs-dark);
    color: var(--bs-light);
}

.opacity {
    /* opacity: 0.7; */
    filter: blur(3px);
    -webkit-filter: blur(3px);
    background-repeat: no-repeat;
    object-position: center;
}

.bg-image {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
    display: block;
    background-image: url('img/library2.jpg');
    background-blend-mode: luminosity;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    filter: blur(0.2rem);
  }
